* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* START UTILITY */

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: rgb(245, 249, 252);
}

.row {
  margin: 0 -15px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}

[class^=col-]{
  padding: 0 15px;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: calc(100% / 2);
}

.btn {
  border: 1px solid rgb(237, 126, 98);
  padding: 10px 10px;
  border-radius: 5px;
}



/* END UTILITY */

/* START FIXED NAVBAR */

/* .nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
} */

[class^=nav-] {
  height: 80px;
  line-height: 80px;
  display: inline;
  list-style: none;
  vertical-align: middle;
}

[class^=nav-] li {
  display: inline-block;
  color: rgb(94, 108, 127);
}

[class^=nav-] li a {
  text-decoration: none;
}

.nav-fixed-left {
  float: left;
}

.nav-fixed-right {
  float: right;
}

  /* START FIRST NAVBAR LEFT */

.nav-fixed-left .icon-arrow:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f7a2';
  padding-right: 5px;
}

.icon-arrow:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f078';
  padding-left: 5px;
  vertical-align: middle;
}

.icon-line:before {
  content: "|";
  padding: 0 15px;
}

  /* END FIRST NAVBAR LEFT */

  /* START FIRST NAVBAR RIGHT */

.nav-fixed-right .fa {
  color: rgb(114, 187, 205);
}

.btn-orange {
  background-color: rgb(237, 126, 98);
  color: #fff;
}

.btn-white {
  color: rgb(237, 126, 98);
  margin: 0 10px;
}

.logo img {
  vertical-align: middle;
}

  /* END FIRST NAVBAR RIGHT */

/* END FIXED NAVBAR */

/* START SECOND NAVBAR */

  /* START SECOND NAVBAR LEFT */

.navbar {
  background-color: #fff;
}

.logo {
  display: inline;
}

  /* END SECOND NAVBAR LEFT */

  /* START SECOND NAVBAR RIGHT */

  .nav-right {
    float: right;
  }

  .nav-right li a {
    color: rgb(94, 108, 127);
    padding: 0 10px;
  }

  /* END SECOND NAVBAR RIGHT */

/* END SECOND NAVBAR */

/* START JUMBO */

.img-jumbo {
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 110% 100%;
}

.jumbo .txt-jumbo {
  padding-top: 40px;
  padding-bottom: 300px;
}

.txt-jumbo h1 {
  font-size: 50px;
  color: rgb(94, 108, 127);
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 40px;
}

.txt-jumbo p {
  font-size: 20px;
  color: rgb(94, 108, 127);
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
}

.txt-jumbo a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 10px;
}

/* END JUMBO */
