* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* START UTILITY */

body {
  font-family: 'Montserrat', sans-serif;
  color: rgb(39, 55, 72);
  background-color: rgb(241, 248, 253);
}

header {

}

.row {
  margin: 0 -15px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

[class^=col-]{
  float: left;
  padding: 0 15px;
}

.col-100 {
  width: 100%;
}

.col-70 {
  width: 70%;
}

.col-50 {
  width: calc(100% / 2);
}

.col-33 {
  width: calc(100% / 3);
}

.col-30 {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.col-25 {
  width: calc(100% / 4);
}

.h-150 {
  height: 150px;
}

.btn {
  border: 1px solid rgb(250, 95, 72);
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.bg-white {
  background-color: #fff;
  padding: 0 10%;
}

.btn-big {
  padding: 20px 30px;
}

.marg-t-70 {
  margin-top: 70px;
}

.marg-t-50 {
  margin-top: 50px;
}

.marg-t-30 {
  margin-top: 30px;
}

.padd-40 {
  padding: 40px;
}

.description {
  font-size: 15px;
  color: rgb(39, 55, 72);
  font-weight: 400;
  line-height: 25px;
  margin: 40px 0 ;
}

.orange-check:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f058';
  padding-right: 15px;
  color: rgb(250, 95, 72);
}

.list-skills {
  list-style: none;
}

.border-right {
  border-right: 1px solid #fff;
}

/* END UTILITY */

/* START FIXED NAVBAR */

.nav-fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: rgb(241, 248, 253);
}

[class^=nav-] {
  height: 80px;
  line-height: 80px;
  display: inline;
  list-style: none;
  vertical-align: middle;
}

[class^=nav-] li {
  display: inline-block;
  color: rgb(39, 55, 72);
}

[class^=nav-] li a {
  text-decoration: none;
}

.nav-fixed-left {
  float: left;
}

.nav-fixed-right {
  float: right;
}

  /* START FIRST NAVBAR LEFT */

.nav-fixed-left .icon-arrow:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f7a2';
  padding-right: 5px;
}

.icon-arrow:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f078';
  padding-left: 5px;
  vertical-align: middle;
}

.icon-line:before {
  content: "|";
  padding: 0 15px;
}

  /* END FIRST NAVBAR LEFT */

  /* START FIRST NAVBAR RIGHT */

.nav-fixed-right .fa {
  color: rgb(18, 148, 175);
}

.btn-orange {
  background-color: rgb(250, 95, 72);
  color: #fff;
}

.btn-white {
  color: rgb(237, 126, 98);
  margin: 0 10px;
}

.logo img {
  vertical-align: middle;
}

  /* END FIRST NAVBAR RIGHT */

/* END FIXED NAVBAR */

/* START SECOND NAVBAR */

  /* START SECOND NAVBAR LEFT */

.nav-menu {
  padding-top: 80px;
}

.navbar {
  background-color: #fff;
}

.logo {
  display: inline;
}

  /* END SECOND NAVBAR LEFT */

  /* START SECOND NAVBAR RIGHT */


.nav-right {
  float: right;
}

.nav-right li a {
  color: rgb(94, 108, 127);
  padding: 0 10px;
}

  /* END SECOND NAVBAR RIGHT */

/* END SECOND NAVBAR */

/* START JUMBO */
.jumbo {

}

.img-jumbo {
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-size: 91%; /* 91 per togliere linea bianca */
  background-position: 100% 100%;
  background-color: rgb(254, 242, 234);
}

.jumbo .txt-jumbo {
  padding-top: 40px;
  padding-bottom: 155px;
}

.txt-jumbo h1 {
  font-size: 50px;
  color: rgb(39, 55, 72);
  font-weight: 700;
  line-height: 60px;
}

.txt-jumbo a {
    color: #ffffff;
    font-size: 15px;
}

.box-aqua {
  border: 3px solid black;
  border-left: 0;
  border-right: 0;
  height: 80px;
  background-color: rgb(161, 231, 222);
}

/* END JUMBO */

/* START FIRST SECTION MAIN */

.col-100 .contained {
  text-align: center;
}

.img-cube {
  width: 20%;
}

h2 {
  font-size: 30px;
}

/* END FIRST SECTION MAIN */

/* START SECOND SECTION MAIN BOX WHITE */


.box-white {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 0px 5px rgba(39, 55, 72, 0.5);
}

.contained-box-white {
  padding: 60px 0;
  width: 90%;
  margin: 0 auto;

}

.img-service {
  width: 40%;
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
}

.subtitles-skills {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}

.first-box-white-hr {
  display: inline-block;
  width: 70%;
  margin-left: 35px;
  vertical-align: middle;
  }

.col-70 ul {
  display: inline-block;
}

.col-70 ul li {
  display: inline-block;
  padding-right: 15px;
}

/* END SECOND SECTION MAIN BOX WHITE */

/* START THIRD SECTION MAIN THREE BOX WHITE */

.title-service {
  text-align: center;
  font-size: 20px;
}

.descr-service {
  text-align: center;
  padding: 35px 0 50px 0;
  line-height: 25px;
  font-size: 14px;
}

.col-33 .subtitles-skills {
  text-align: center;
  padding: 30px;
}

.col-33 a {
  margin: 0 auto;
}

.btn-box-white {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 10px;
}


/* END THIRD SECTION MAIN THREE BOX WHITE */

/* START FOURTH SECTION MAIN DATA */

.bg-blue-green{
  background-image: linear-gradient(#00a4db, #00bda5);
  text-align: center;
  color: #fff;
  padding-bottom: 70px;
}

.title-data {
  padding-top: 50px;
  font-size: 32px;
}

.subtitle-data {
  font-size: 40px;
  font-weight: 600;
  padding-top: 15px;
}

.subtitle-data:after {
  content: '+';
  font-size: 30px;
  font-weight: 300;
  padding: 5px;
}

.descr-data {
  text-align: center;
  padding: 15px 0;
  line-height: 25px;
  font-size: 14px;
}

.contained-data img {
  padding-top: 20px;
}
